@import '../abstract/variaveis';

.cupom {
    background-color: $cor-efeito-secundaria;
    opacity: 0.8;
    padding: 4rem;
    text-align: center;
    &__titulo {
        color: $cor-primaria;
        h2 {
            font-size: $tamanho-do-texto / 1.75;
            margin: 2rem;
        }
    }
    &__input {
        background-color: #fff;
        border: 4px solid #fff;
        border-radius: 25px;
        margin: 0 auto;
        height: 40px;
        max-width: 575px;
        width: auto;
        input {
            border-radius: 20px;
            border: none;
            font-size: $tamanho-do-texto / 2;
            outline: none;
            text-align: center;
            height: 100%;
            width: 540px;
        }
        &:hover, &:focus-within {
            box-shadow: 1px 1px 8px 1px $cor-primaria;
            outline: none;
        }
    }
    button {
        background-color: $cor-primaria;
        border: 1px solid $cor-efeito-secundaria;
        border-radius: 20px;
        cursor: pointer;
        color: $cor-terciaria;
        font-size: $tamanho-do-texto / 3;
        font-weight: 800;
        letter-spacing: 1px;
        margin: .75rem;
        outline: none;
        padding: 1rem 2rem;
        text-align: center;
        text-transform: uppercase;
        transition: 0.3s ease-in-out all;
        &:hover {
            background-color: $cor-efeito-secundaria;
            border: 1px solid $cor-primaria;
            color: $cor-primaria;
        }
        &:focus-within {
            background-color: $cor-efeito-secundaria;
            border: 1px solid $cor-primaria;
            color: $cor-primaria;
            box-shadow: 5px 5px 5px 1px $cor-primaria;
            outline: none;
        }

    }

}