
//fontes
$fonte-primria: "Roboto", sans-serif;


$tamanho-do-texto: 3rem;

//cores
$cor-primaria: #193140;
$cor-secundaria: #80A7BF;
$cor-terciaria: #736439;

$cor-efeito-primaria: #51768C;
$cor-efeito-secundaria: #BFA450;
